<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ERS.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
	<rewrite>
            <rules>
                    <clear />
                    <rule name="Apis" stopProcessing="true">
                        <match url="[\S]+/api/(.*)" negate="false" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                        <action type="Rewrite" url="/ERS/api/{R:1}" />
                    </rule>
                    <rule name="Static Assetes" enabled="true" stopProcessing="true">
                        <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|ttf|woff|woff2))" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                        <action type="Rewrite" url="/ERS/{R:1}" />
                    </rule>
                    <rule name="React Router" enabled="true" stopProcessing="true">
                        <match url="^((?!api).)*$" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.html" />
                    </rule>
            </rules>
        </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0951599E-CAC6-4766-A540-C5F72E5A0A47-->